body {
    margin: 0;
    font-family: Arial;
    background: #5E1D21;
    color: #EADEC8;
}

header {
    text-align: center;
    padding: 80px 20px;
}

.logo {
    width: 80px;
}

.tagline {
    color: #91917B;
}

section {
    padding: 60px 10%;
}

h2 {
    border-bottom: 1px solid #394527;
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid a {
    text-decoration: none;
    color: white;
}

.grid img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: none;
}

button {
    background: #394527;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
